*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('../public/images/generous-serving-popcorn-white-bowl-marble-table.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;

}
